1 - Foram utilizados os dados do site https://covid.saude.gov.br/

2 - Iniciar o cluster de big data:

In [ ]:
docker-compose -f docker-compose-parcial.yml start

3 - Acessar container do namenode:

In [ ]:
docker exec -it namenode bash

4 - Criar diretório no hdfs e importar os arquivos:

In [ ]:
hdfs dfs -mkdir /user/milena/covid

5 - Importar os dados para dentro do diretório criado:

In [ ]:
hdfs dfs -put /input/dados1.csv /user/milena/covid

6 - Verificar se os dados foram importados corretamente para dentro do diretório:

In [ ]:
hdfs dfs -ls /user/milena/covid

7 - Acessar o Hive:

In [ ]:
 docker exec -it hive-server bash

In [ ]:
beeline -u jdbc:hive2://localhost:10000

8 - Listar banco de dados:

In [ ]:
show databases;

In [ ]:
use milena;

9 - Criar tabela dentro de um banco de dados no hive:

create table dados (
. . . . . . . . . . . . . . . .> regiao string, estado string, data date, pop int, casosa int, casosn int, obitosa int, obitosn int, recup varchar(10), acomp varchar(10), municipio string)
. . . . . . . . . . . . . . . .> row format delimited
. . . . . . . . . . . . . . . .> fields terminated by ','
. . . . . . . . . . . . . . . .> lines terminated by '\n'
. . . . . . . . . . . . . . . .> stored as textfile
. . . . . . . . . . . . . . . .> tblproperties("skip.header.line.count"="1");

10 - Importar os arquivos para dentro da tabela:

In [ ]:
load data inpath '/user/milena/covid/dados1.csv' overwrite into table dados;
load data inpath '/user/milena/covid/dados2.csv' overwrite into table dados;
load data inpath '/user/milena/covid/dados3.csv' overwrite into table dados;
load data inpath '/user/milena/covid/dados4.csv' overwrite into table dados;
load data inpath '/user/milena/covid/dados5.csv' overwrite into table dados;

11 - Verificar quantidade de registros da tabela:

In [ ]:
select count(*) as qtd_registros from dados;

12 - Criar uma tabela particionada por municipio (tabela dinâmica):

In [ ]:
create table par_dados(
. . . . . . . . . . . . . . . .> regiao string, estado string, data date, semanaEp int, populacao int, casosa int, casosn int, obitosa varchar(10), obitosn varchar(10), recup varchar(10), acomp varchar(10))
. . . . . . . . . . . . . . . .> partitioned by (municipio string)
. . . . . . . . . . . . . . . .> row format delimited
. . . . . . . . . . . . . . . .> fields terminated by ','
. . . . . . . . . . . . . . . .> lines terminated by '\n'
. . . . . . . . . . . . . . . .> tblproperties("skip.header.line.count"="1");

13 - Habilitar leitura de particionamento dinâmico:

In [ ]:
set hive.exec.dynamic.partition.mode=nonstrict;

14 - Inserir partição por municipio:

In [ ]:
insert overwrite table part_dados_covid partition (municipio) select regiao, estado, data, casos, municipio from dados_covid where municipio="Descoberto";

15 - Para deletar a consulta de partição:

In [ ]:
alter table dados_p drop partition(municipio='Descoberto');